<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>
           <h2>hbs {{title}} page content </h2>

            <h2> country_name is : {{country_name}} </h2>
            <h2> latitude is : {{latitude}} </h2>
            <h2> longitude is  : {{longitude}} </h2>
            <h2> current_weather is  : {{current_weather}} </h2>
            <h2> teamprature is  : {{teamprature}} </h2> 
             <img src={{img2}}  alt="">
      </body>
</html>